// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$green-dark: 	#576455;
$green-light:	#6E7C6C;
$light:			#f8f8f8;
$brown:			#CFAE83;
$primary:		$green-dark;
$secondary:		$green-light;
$gray-400: 		#ced4da;

/* Typography */
$font-size-base: 1.1rem;
$font-size-lg: $font-size-base * 1.15;
$font-family-sans-serif: 'Noto Sans JP', sans-serif;
$font-family-heading: 'Baloo 2', cursive;
$line-height-base: 1.6;
$line-height-sm: 1.4;

$input-btn-focus-width: 0;
$input-focus-box-shadow: none;
$input-border-color: $primary;
$h1-font-size: $font-size-base * 3.5;
$h1-font-weight: 800;
$h1-line-height: 1.138888889;
$h2-font-size: $font-size-base * 2.2;
$h2-font-size-sm: $h2-font-size - .5rem;
$h3-font-size: $font-size-base * 1.60;

$h6-font-size: $font-size-base - .08rem;
$font-size-xs: $font-size-base - .2rem;

/* Grid */
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1300px
);

/* Forms */
$input-focus-border-color: $gray-400;
$input-focus-box-shadow: none;